{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "build",
            "release": "patch"
          }
        ],
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ]
        }
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
