@page
@model IndexModel
@{
    ViewData["Title"] = "Secure Notes";
}

@* TODO: Apply the best practices and recommendations regarding accessibility *@

<div>
    <h1>Secure Notes</h1>
    <form method="post">
        <div>
            <label for="inputText">Enter Text:</label>
            <input type="text" id="inputText" name="inputText" required/>
        </div>
        <div>
            <button type="submit">Encrypt</button>
        </div>
        <div>
            <label for="encryptedText">Encrypted Text:</label>
            <textarea id="encryptedText" name="encryptedText" readonly>@Model.EncryptedText</textarea>
        </div>
    </form>
</div>